node_modules
npm-debug.log
yarn-error.log

logs
*.log
*.log.*

.git
.gitignore

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
build
.output

docker-compose.yml
Dockerfile*

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db
